.container {
      
      margin-top: 20px;
}



#generateContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: beige;
      padding: 0;
      margin: 0;
}

.row {
      justify-content: space-evenly;
}

.image {
      width: 100%;
      height: 200px;
      margin-bottom: 30px; 
}

#ebansName {
      background-color: #537339;
      margin: auto;
}

#ebansInfo {
      margin: 0;
}



#navbar {
      background-color: #e4f7d2;
}

.projects {
      position: relative;
      padding: 0;   
}

.banner {
      display: flex;
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: burlywood;
      float: none;
      bottom: 40px;
      justify-content: center;
}